@keyframes moveforwards {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  25% {
    transform: translateX(4px);
    opacity: 0.7;
  }
  50% {
    transform: translateX(8px);
    opacity: 0.4;
  }
  75% {
    transform: translateX(12px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(16px);
    opacity: 0;
  }
}


@keyframes movebackwards {
    0% {
      transform: translateX(0px);
    }
    25% {
        transform: translateX(-4px);
      }
    50% {
      transform: translateX(-8px);
    }
    75% {
        transform: translateX(-12px);
      }
    100% {
      transform: translateX(-16px);
    }
  }

  @keyframes cursorBlink {
    49% { background-color: #fff; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
  }