@import "_fonts.scss";
@import "_variables.scss";
@import "_animations.scss";



.highlighted{
    font-weight:bolder;
    color:$primary-color;
}

.text-color {
color:$text-color;
}

img {
    width:100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $primary-color;
  }

p, div, button, span {
    font-size:clamp(0.9rem, 1vw, 2rem) !important;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900 !important;
}

h2{
    font-size:clamp(1.8rem, 2.5vw, 3rem);
}

h1{
font-size: clamp(2rem, 2.5vw , 3.5rem);
font-weight: 400;
text-align: center;
}


button{
    border:none;
    font-weight: 600;
    border-radius: 0.2rem;
    padding:0.5rem 1.5rem;

    &:focus{
        outline: none;
    }
}

.row {
    margin-right:0 !important;
    margin-left:0 !important;
}

/* Extra Small devices (landscape phones, 576px and down) xs */
@media (max-width: $sm) {  

     
        button {
            padding:0.5rem 1rem !important;
        }
}
/* Small devices (landscape phones, 576px and up) sm */
@media (min-width: $sm) { 
  
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint md*/
@media (min-width: $md) {  

}
 
/* Large devices (desktops, 992px and up) lg */
@media (min-width: $lg) { 

}
 
/* Extra large devices (large desktops, 1200px and up) xl */
@media (min-width: $xl) {  
    
}
 