
//colors
$primary-color:#FFFFFF;
$secondary-color:#000000;
$tertiary-color:#2D9CDB;
$quaternary-color:#b8e5ff;
$text-color:#6C6C6C;
$footer-color:#F0F0F0;

//responsive sizes
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

$max-height-phone:500px;
