@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: local('Roboto'), url(./assets/fonts/Roboto-Black.ttf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: local('Roboto'), url(./assets/fonts/Roboto-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: local('Roboto'), url(./assets/fonts/Roboto-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), url(./assets/fonts/Roboto-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto'), url(./assets/fonts/Roboto-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: local('Roboto'), url(./assets/fonts/Roboto-Thin.ttf) format('opentype');
}


/* Custom curve 1 */
.custom-shape-divider-bottom-1690033990 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690033990 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 150px;
    scale: 1.2;
}

.custom-shape-divider-bottom-1690033990 .shape-fill {
    fill: #FFFFFF;
}



/* Custom curve 2 */
.custom-shape-divider-top-1690034218 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690034218 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1690034218 .shape-fill {
    fill: #FFFFFF;
}